/* style.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Make sure the html and body elements fill the screen */
}

#app-container {
    display: flex; /* Establishes a flex container */
    flex-direction: row; /* Aligns children (the columns) horizontally */
    height: 95vh; /* Sets the container's height to fill the viewport */
    box-sizing: border-box; /* Includes padding and border in the element's total size */
}

.input-text {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #888;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    color: #333
}

.input-text:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
    outline: none;
}

.input-text::placeholder {
    color: #999;
}


.left-column, .right-column {
    display: flex; /* Makes the columns flex containers too, for vertical alignment if needed */
    flex-direction: column; /* Aligns column content vertically */
    justify-content: flex-start; /* Aligns content to the top */
    padding: 20px; /* Adds some padding inside the columns */
    box-sizing: border-box; /* Includes padding and border in the element's total size */
}

.left-column {
    flex: 0 0 30%; /* Assigns 30% of the container's width to the left column */
    border: 2px solid black;
    border-radius: 15px;
}

.right-column {
    flex: 1; /* Allows the right column to fill the remaining space */
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 20px; /* Adds spacing between the two columns */
}

/* macOS-inspired button style */
.upload-button {
    display: inline-block;
    padding: 14px 24px;
    font-size: 16px; /* Larger font size */
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.upload-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

#upload-file {
    width: fit-content; /* Makes the upload component wrap tightly around its content */
    display: inline-block; /* Ensures the upload component does not stretch */
}

/* styles.css in the 'assets' directory */
.dynamic-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.dynamic-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.dynamic-button-active {
    background-color: #0106b3; /* Darker shade when active */
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 18px;
    font-family: Helvetica Neu;
}
